@charset "utf-8";
/* ----------------------------------------------------------------------------------- 
   @font-face definition
   ----------------------------------------------------------------------------------- */

/* fwicon */
@font-face {
	font-family:"fwicon";
	src:url('fwicon.eot');
	src:url('fwicon.eot?#iefix') format('embedded-opentype'),
		url('fwicon.woff') format('woff'),
		url('fwicon.ttf') format('truetype'),
		url('fwicon.svg#fwicon') format('svg');
	font-weight:normal;
	font-style:normal; }

/* force chrome to render SVG font */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:"fwicon";
		src:url('fwicon.svg#fwicon') format('svg');
    }
}

/* ----------------------------------------------------------------------------------- 
   icon generic
   ----------------------------------------------------------------------------------- */

/* common */
[class^="fwicon-"]:before,
[class*=" fwicon-"]:before { 
	font-style:normal;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	speak:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale; }

/* fwicon */
[class^="fwicon-"]:before,
[class*=" fwicon-"]:before { font-family:'fwicon'; }	

/* ----------------------------------------------------------------------------------- 
   fwicon styles
   ----------------------------------------------------------------------------------- */
.fwicon-home:before 				{ content: "\e000"; }
.fwicon-minus:before 				{ content: "\e001"; }
.fwicon-plus:before 				{ content: "\e002"; }
.fwicon-tick-sign:before 			{ content: "\e003"; }
.fwicon-alert-sign:before 			{ content: "\e004"; }
.fwicon-upload:before 				{ content: "\e005"; }
.fwicon-bulletedlist:before 		{ content: "\e006"; }
.fwicon-numberedlist:before 		{ content: "\e007"; }
.fwicon-menu:before 				{ content: "\e023"; }
.fwicon-print:before 				{ content: "\e009"; }
.fwicon-file:before 				{ content: "\e00a"; }
.fwicon-copy:before 				{ content: "\e00b"; }
.fwicon-paste:before 				{ content: "\e00c"; }
.fwicon-arrow-right:before 			{ content: "\e00d"; }
.fwicon-cut:before 					{ content: "\e00e"; }
.fwicon-bold:before 				{ content: "\e00f"; }
.fwicon-underline:before 			{ content: "\e010"; }
.fwicon-italic:before 				{ content: "\e011"; }
.fwicon-pdf:before 					{ content: "\e012"; }
.fwicon-eye:before 					{ content: "\e013"; }
.fwicon-user:before 				{ content: "\e014"; }
.fwicon-star:before 				{ content: "\e015"; }
.fwicon-question-circle:before 		{ content: "\e022"; }
.fwicon-clock-sign:before 			{ content: "\e017"; }
.fwicon-cross:before 				{ content: "\e018"; }
.fwicon-angle-left:before 			{ content: "\e019"; }
.fwicon-angle-down:before 			{ content: "\e01a"; }
.fwicon-angle-up:before 			{ content: "\e01b"; }
.fwicon-angle-right:before	 		{ content: "\e01c"; }
.fwicon-view:before 				{ content: "\e01d"; }
.fwicon-edit:before 				{ content: "\e01e"; }
.fwicon-caret-down:before 			{ content: "\e01f"; }
.fwicon-export:before 				{ content: "\e020"; }
.fwicon-reload:before 				{ content: "\e021"; }

/* -----------------------------------------------------------------------------------
   Extras
   ----------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* animation */
.icon-spin {
  -moz-animation:spin 1s infinite linear;
  -o-animation:spin 1s infinite linear;
  -webkit-animation:spin 1s infinite linear;
  animation:spin 1s infinite linear; }
@-webkit-keyframes spin { 0% { -webkit-transform:rotate(0deg); } 	100% { -webkit-transform:rotate(359deg); } }
@-moz-keyframes spin 	{ 0% { -moz-transform:rotate(0deg); } 		100% { -moz-transform:rotate(359deg); } }
@-ms-keyframes spin		{ 0% { -ms-transform:rotate(0deg); }		100% { -ms-transform:rotate(359deg); } }
@-o-keyframes spin 		{ 0% { -o-transform:rotate(0deg); } 		100% { -o-transform:rotate(359deg); } }
@keyframes spin			{ 0% { transform:rotate(0deg); }			100% { transform:rotate(359deg); } }

/* -------------------------------------------------------------------------- */
/* Icon rotations and mirroring */
.icon-rotate-90:before { -webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
.icon-rotate-180:before { -webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2); }
.icon-rotate-270:before { -webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	transform:rotate(270deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
.icon-flip-horizontal:before { -webkit-transform:scale(-1, 1);
	-moz-transform:scale(-1, 1);
	-ms-transform:scale(-1, 1);
	-o-transform:scale(-1, 1);
	transform:scale(-1, 1); }
.icon-flip-vertical:before { -webkit-transform:scale(1, -1);
	-moz-transform:scale(1, -1);
	-ms-transform:scale(1, -1);
	-o-transform:scale(1, -1);
	transform:scale(1, -1); }
	