@charset "utf-8";
/* ----------------------------------------------------------------------------------- 
   icon generic
   ----------------------------------------------------------------------------------- */
.ie7 [class^="fwicon-"],
.ie7 [class*=" fwicon-"] {
	font-style:normal;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	speak:none; }	

/* fwicon */
.ie7 [class^="fwicon-"],
.ie7 [class*=" fwicon-"] { font-family:'fwicon'; }	

/* ----------------------------------------------------------------------------------- 
   fwicon styles
   ----------------------------------------------------------------------------------- */
.ie7 .fwicon-home 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe000;');}
.ie7 .fwicon-minus 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe001;');}
.ie7 .fwicon-plus 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe002;');}
.ie7 .fwicon-tick-sign 			{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe003;');}
.ie7 .fwicon-alert-sign 		{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe004;');}
.ie7 .fwicon-upload 			{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe005;');}
.ie7 .fwicon-ul 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe006;');}
.ie7 .fwicon-ol 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe007;');}
.ie7 .fwicon-menu 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe008;');}
.ie7 .fwicon-print 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe009;');}
.ie7 .fwicon-file 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe00a;');}
.ie7 .fwicon-copy 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe00b;');}
.ie7 .fwicon-paste 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe00c;');}
.ie7 .fwicon-arrow-right 		{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe00d;');}
.ie7 .fwicon-cut 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe00e;');}
.ie7 .fwicon-bold 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe00f;');}
.ie7 .fwicon-underline 			{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe010;');}
.ie7 .fwicon-italic 			{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe011;');}
.ie7 .fwicon-pdf 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe012;');}
.ie7 .fwicon-eye 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe013;');}
.ie7 .fwicon-user 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe014;');}
.ie7 .fwicon-star 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe015;');}
.ie7 .fwicon-question-circle 	{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe016;');}
.ie7 .fwicon-clock-sign 		{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe017;');}
.ie7 .fwicon-cross 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe018;');}
.ie7 .fwicon-angle-left 		{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe019;');}
.ie7 .fwicon-angle-down 		{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe01a;');}
.ie7 .fwicon-angle-up 			{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe01b;');}
.ie7 .fwicon-angle-right 		{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe01c;');}
.ie7 .fwicon-view 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe01d;');}
.ie7 .fwicon-edit 				{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe01e;');}
.ie7 .fwicon-caret-down 		{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe01f;');}
.ie7 .fwicon-export		 		{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xe020;');}